.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  border-radius: 5px;
  background-color: rgb(243, 243, 243);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.description {
  padding: 20px 0;

  text-align: center;
  /* padding: 10px; */
}

.avatar {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  text-align: center;
  border-radius: 50%;
}

.username,
.tag,
.location {
  /* margin-bottom: 10px; */

  font-weight: 400;

  color: rgb(73, 73, 73);
}

.username {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}
.tag {
  margin-bottom: 10px;
}

.stats {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
}

.stats li {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  width: 80px;

  background-color: rgb(224, 224, 224);
}
.stats li:not(:last-child) {
  border-right: 1px solid rgb(133, 133, 133);
}

.label {
  margin-bottom: 5px;
  color: rgb(73, 73, 73);
  font-size: 14px;
}
.quantity {
  font-weight: 500;
  font-size: 22px;
}
