.friend-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 500px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  /* background-color: aquamarine; */
  background-color: rgb(243, 243, 243);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.status {
  width: 20px;
  height: 20px;
  background-color: rgb(43, 255, 0);

  border-radius: 50%;
}

.isOfnline {
  background-color: rgb(255, 0, 0);
}

.avatar {
}

.name {
}
