.transaction-history {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

table thead {
  padding: 10px;

  color: white;
  background-color: rgb(0, 132, 255);
}

table th,
table td {
  padding: 10px;
  width: calc(100% / 3);

  font-weight: 400;

  text-align: center;
  /* text-transform: uppercase; */
}

tbody tr:nth-child(2n) {
  background-color: rgb(243, 243, 243);
}

tbody td {
  color: rgb(73, 73, 73);
}

tbody td:nth-child(1) {
  padding-left: 50px;

  text-align-last: left;
}
